@font-face{
	font-family:'FK Raster Grotesk Compact';
	src:url('fonts/FKRasterGroteskCompact-Blended.woff2') format('woff2');
	font-weight: 400;
}

body{
	font-family:'FK Raster Grotesk Compact';
}

h1,h2,h3,h4{
	font-weight:normal;
	font-family:'FK Raster Grotesk Compact';
	color:salmon;
}

h1{
	/* main headings */
}

p{
	/* paragraphs */	
}

a{
	/* links */	
}

ul{
	/* unordered list container */	
}

ol{
	/* unordered list container */	
}

li{
	/* list items */	
}

#idname{
	/* an ID assignment begins with a #*/	
}

.classname{
	/* a class assignment begins with a .*/	
}

